<!doctype html>
<html lang="pt-br">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Uai-commerce</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Uai-commerce<%= docs[0].ADM == 1? ' ADM' : '' %></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Buscar Produtos" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Pesquisar</button>
            </form>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <% if(docs[0].ADM == 1 ){ %>
                  <li class="nav-item active">
                    <a class="nav-link" href="lista_usuarios">Lista de Usuários</a>
                  </li>
                <% } %>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <%= docs[0].Nome %>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/edita_conta">Meu Perfil</a>
                        <a class="dropdown-item" href="#">Carrinho</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/">Sair</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>

    <div class="text-center center-div" id=login>
      <div class="container w-50 border py-5">
          <div class="title pb-5">
              <h2 class="font-weight-bold">Perfil do Usuário</h2>
          </div>
          <form action="/edita_usuario" method='post' class="pt-3">
              <div class="form-group">
                  <label for="name">Nome</label>
                  <input type="text" class="form-control" placeholder="Nome" name="name" value="<%= docs[0].Nome %>">
              </div>
              <br>
              <div class="form-group">
                  <label for="email">E-mail</label>
                  <input type="email" class="form-control" placeholder="E-mail" name="email" value="<%= docs[0].Email %>">
              </div>
              <br>
              <div class="form-group">
                  <label for="phone">Telefone</label>
                  <input type="text" class="form-control" placeholder="Telefone" name="phone" value="<%= docs[0].Telefone %>">
              </div>
              <br>
              <div class="form-group">
                  <label for="password">Senha</label>
                  <input type="text" class="form-control" name="password" placeholder="Senha" value="<%= docs[0].Senha %>">
              </div>
              <br>

              <% if(docs[0].TipoCadastro == 'empresa'){ %>
              <div class="form-group">
                  <label for="cnpj">CNPJ</label>
                  <input type="text" class="form-control" name="cnpj" placeholder="CNPJ" value="<%= docs[0].CNPJ%>">
              </div>
              <% }else{ %>
              <div class="form-group">
                  <label for="cpf">CPF</label>
                  <input type="text" class="form-control" name="cpf" placeholder="CPF" value="<%= docs[0].CPF%>">
              </div>
              <br>
              <div class="form-group">
                  <label for="birthday">Data de Nascimento</label>
                  <input type="date" class="form-control" name="birthday"  value="<%= docs[0].DataNascimento %>">
              </div>
              <br>
              <% } %>

              <% if(docs[0].ADM == '1'){ %>
              <div class="form-group">
                  <label for="rg">RG</label>
                  <input type="text" class="form-control" name="rg" placeholder="RG"  value="<%= docs[0].RG%>">
              </div>
              <% }else{ %>
              <div class="form-group">
                  <label for="street">Rua</label>
                  <input type="text" class="form-control" placeholder="Rua" name="street" value="<%= docs[0].Rua%>">
              </div>
              <br>
              <div class="form-group">
                  <label for="district">Bairro</label>
                  <input type="text" class="form-control" placeholder="Bairro" name="district" value="<%= docs[0].Bairro%>">
              </div>
              <br>
              <div class="form-group">
                  <label for="number">Número</label>
                  <input type="text" class="form-control" placeholder="Número" name="number" value="<%= docs[0].Numero%>">
              </div>
              <br>
              <div class="form-group">
                  <label for="complement">Complemento</label>
                  <input type="text" class="form-control" placeholder="Complemento" name="complement" value="<%= docs[0].Complemento%>">
              </div>
              <br>
              <div class="form-group">
                  <label for="city">Cidade</label>
                  <input type="text" class="form-control" placeholder="Cidade" name="city" value="<%= docs[0].Cidade%>">
              </div>
              <br>
              <div class="form-group">
                  <label for="state">Estado</label>
                  <input type="text" class="form-control" placeholder="Estado" name="state" value="<%= docs[0].Estado%>">
              </div>
              <br>
              <% } %>
              <br>
              <br>
              <input type="hidden" value="<%= docs[0].ADM%>" name='adm'>
              <input type="hidden" value="<%= docs[0].TipoCadastro%>" name='type'>
              <input type="hidden" value="<%= docs[0]._id %>" name="id">
              <button type="submit" class="btn btn-success rounded-pill">Salvar Modificações</button>
              <a href="/remove_conta">Remover Conta</a>
              <br>
          </form>
      </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>