<!doctype html>
<html lang="pt-br">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Uai-commerce - Editar Produto</title>
  </head>
  <body>
    <div class="p-3 mb-2 bg-transparent text-dark">
          <div class="container w-50 border py-5">
            <div class="text-center center-div" id=''>
                <h2 class="font-weight-bold">Produto</h2>
                <form action="/edita_produto" method='post' class="pt-3">
                  <div class="form-group">
                    <label for="product">Produto</label>
                    <input type="text" class="form-control" placeholder="Produto" name="product" value="<%= docs[0].Nome %>">
                  </div>
                  <div class="form-group">
                    <label for="value">Valor</label>
                    <input type="nubmer" class="form-control" placeholder="Valor" name="value" value="<%= docs[0].Preco %>">
                  </div>
                  <div class="form-group">
                    <label for="inventory">Estoque disponível</label>
                    <input type="number" class="form-control" placeholder="Estoque disponível" name="inventory" value="<%= docs[0].QuantidadeEstoque %>">
                  </div>
                  <div class="form-group">
                    <label for="characteristics">Principais caracteristicas</label>
                    <input type="text" class="form-control" placeholder="Principais caracteristicas" name="characteristics" value="<%= docs[0].Caracteristicas %>">
                  </div>
                  <div class="form-group">
                    <label for="description">Descrição</label>
                    <input type="text" class="form-control" placeholder="Descrição" name="description" width 200px height 200px value="<%= docs[0].Descricao %>">
                  </div>
                  <h4>Transportadoras disponíveis</h4>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                      <label class="form-check-label" for="">
                        Correios
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                      <label class="form-check-label" for="">
                        Pituta
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                      <label class="form-check-label" for="">
                        Caracois
                      </label>
                    </div>
                    <div class="form-group">
                      <label for="category">Categoria</label>
                      <select class="form-control" name="category">
                        <option value="eletronico" <%= docs[0].Categoria == 'eletronico' ? 'selected' : '' %> >Eletrônico</option>
                        <option value="tecnologia" <%= docs[0].Categoria == 'tecnologia' ? 'selected' : '' %>>Tecnologia</option>
                        <option value="musica" <%= docs[0].Categoria == 'musica' ? 'selected' : '' %>>Música</option>
                        <option value="utensilios" <%= docs[0].Categoria == 'utensilios' ? 'selected' : '' %>>Utensílios</option>
                      </select>
                    </div>
                    <br>
                    <div class="d-flex justify-content-center">
                      <div class="btn btn-mdb-color btn-rounded float-left">
                      <span>Imagem</span>
                        <input type="file">
                      </div>
                    </div>
                    <br>
                    <input type="hidden" value="<%= docs[0]._id %>" name="id">
                    <button type="submit" class="btn btn-success rounded-pill">Salvar Modificações</button>
                    <a href="/remove_produto">Remover Produto</a>
              </form>
            </div>
        </div>
      </div>



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>