<!doctype html>
<html lang="pt-br">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="stylesheets/styles.css">
    
    <title>Uai-commerce</title>
  </head>
  <body>
    <div class="sidebar">
      <div class="logo_content">
        <div class="logo">
          <i class='bx bxl-shopify'></i>
          <div class="logo_name">Uai-commerce<%= docs[0].ADM == 1? ' ADM' : '' %></div>
        </div>
        <i class='bx bx-menu' id='btn' ></i>
      </div>
      <ul class="nav_list">
        <li>
            <i class='bx bx-search' ></i>
            <input type="text" placeholder="Producar produto...">
        </li>
        <li>
          <a href="#">
            <i class='bx bx-home' ></i>
            <span class="links_name">Home</span>
          </a>
        </li>
        <% if(docs[0].ADM == 1 ){ %>
        <li>
          <a href="lista_usuarios">
            <i class='bx bx-list-ul' ></i>
            <span class="links_name">Lista de Usuários</span>
          </a>
        </li>
        <li>
          <a href="/transportadora">
            <i class='bx bx-package' ></i>
            <span class="links_name">Adicionar Transportadoras</span>
          </a>
        </li>
        <li>
          <a href="/lista_transportadoras">
            <i class='bx bx-list-ul' ></i>
            <span class="links_name">Lista de Transportadoras</span>
          </a>
        </li>
        <% } %>
        <li>
          <a href="#">
            <i class='bx bx-user-circle'></i>
            <span><%= docs[0].Nome %></span>
          </a>
          <ul class="sub-menu">
            <li><a href="/edita_conta"><i class='bx bxs-user' ></i>Meu Perfil</a></li>
            <% if(docs[0].ADM == 0 ){ %>
            <li><a href="/lista_produtos"><i class='bx bx-cart' ></i>Meus Produtos</a></li>
            <li><a href="#"><i class='bx bx-cart' ></i>Carrinho</a></li>
            <li><a href="/produto"><i class='bx bx-cart' ></i>Vender</a></li>
            <% } %>
            <li><a href="/"><i class='bx bx-exit' ></i>Sair</a></li>
          </ul>
        </li>
      </ul>
    </div>

    <div class="content">
      <div class="text-center center-div" id=login>
        <div class="container">
            <div class="title pb-5">
                <h2 class="font-weight-bold">Seu Perfil</h2>
            </div>
            <form action="/edita_conta" method='post' class="pt-3">
                <div class="form-group">
                    <label for="name">Nome</label>
                    <input type="text" class="form-control" placeholder="Nome" name="name" value="<%= docs[0].Nome %>">
                </div>
                <br>
                <div class="form-group">
                    <label for="email">E-mail</label>
                    <input type="email" class="form-control" placeholder="E-mail" name="email" value="<%= docs[0].Email %>">
                </div>
                <br>
                <div class="form-group">
                    <label for="phone">Telefone</label>
                    <input type="text" class="form-control" placeholder="Telefone" name="phone" value="<%= docs[0].Telefone %>">
                </div>
                <br>
                <div class="form-group">
                    <label for="password">Senha</label>
                    <input type="text" class="form-control" name="password" placeholder="Senha" value="<%= docs[0].Senha %>">
                </div>
                <br>
  
                <% if(docs[0].TipoCadastro == 'empresa'){ %>
                <div class="form-group">
                  <label for="cnpj">CNPJ</label>
                  <input type="text" class="form-control" name="cnpj" placeholder="CNPJ" value="<%= docs[0].CNPJ%>">
                </div>
                <% }else{ %>
                <div class="form-group">
                  <label for="cpf">CPF</label>
                  <input type="text" class="form-control" name="cpf" placeholder="CPF" value="<%= docs[0].CPF%>">
                </div>
                <br>
                <div class="form-group">
                    <label for="birthday">Data de Nascimento</label>
                    <input type="date" class="form-control" name="birthday"  value="<%= docs[0].DataNascimento %>">
                </div>
                <br>
                <% } %>
  
                <% if(docs[0].ADM == '1'){ %>
                <div class="form-group">
                  <label for="rg">RG</label>
                  <input type="text" class="form-control" name="rg" placeholder="RG"  value="<%= docs[0].RG%>">
                </div>
                <% }else{ %>
                <div class="form-group">
                  <label for="street">Rua</label>
                  <input type="text" class="form-control" placeholder="Rua" name="street" value="<%= docs[0].Rua%>">
                </div>
                <br>
                <div class="form-group">
                  <label for="district">Bairro</label>
                  <input type="text" class="form-control" placeholder="Bairro" name="district" value="<%= docs[0].Bairro%>">
                </div>
                <br>
                <div class="form-group">
                  <label for="number">Número</label>
                  <input type="text" class="form-control" placeholder="Número" name="number" value="<%= docs[0].Numero%>">
                </div>
                <br>
                <div class="form-group">
                  <label for="complement">Complemento</label>
                  <input type="text" class="form-control" placeholder="Complemento" name="complement" value="<%= docs[0].Complemento%>">
                </div>
                <br>
                <div class="form-group">
                  <label for="city">Cidade</label>
                  <input type="text" class="form-control" placeholder="Cidade" name="city" value="<%= docs[0].Cidade%>">
                </div>
                <br>
                <div class="form-group">
                  <label for="state">Estado</label>
                  <input type="text" class="form-control" placeholder="Estado" name="state" value="<%= docs[0].Estado%>">
                </div>
                <br>
                <% } %>
                <br>
                <br>
                <input type="hidden" value="<%= docs[0].ADM%>" name='adm'>
                <input type="hidden" value="<%= docs[0].TipoCadastro%>" name='type'>
                
                <button type="submit" class="btn btn-success rounded-pill">Salvar Modificações</button>
                <a href="/remove_conta">Remover Conta</a>
                <br>
            </form>
        </div>
      </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>